@import "tailwindcss";
@import '@vidstack/react/player/styles/default/theme.css';
@import '@vidstack/react/player/styles/default/layouts/video.css';
@import 'react-lazy-load-image-component/src/effects/blur.css';

:root {
  --background: #f7f5f3;
  --foreground: #1C1E21;
  --primary: #25D366;
  --font-rubik: 'Rubik', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #161717;
    --foreground: #f7f5f3;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-rubik);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
  border-radius: 4px;
  border: 2px solid #ffffff;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #bababa;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #d9d9d9 #ffffff;
}

@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-track {
    background: var(--background);
  }

  ::-webkit-scrollbar-thumb {
    background-color: #555;
    border: 2px solid var(--background);
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #888;
  }

  * {
    scrollbar-color: #555 #00000000;
  }
}

.vds-thumbnail {
  /* CSS variables available for customization (defaults shown). */
  --media-thumbnail-bg: black;
  --media-thumbnail-border: 1px solid white;
  --media-thumbnail-aspect-ratio: 16 / 9;
  /* Applies when scaling thumbnails up. */
  --media-thumbnail-min-width: 120px;
  --media-thumbnail-min-height: calc(var(--media-thumbnail-min-width) / var(--aspect-ratio));
  /* Applies when scaling thumbnails down. */
  --media-thumbnail-max-width: 180px;
  --media-thumbnail-max-height: calc(var(--media-thumbnail-max-width) / var(--aspect-ratio));
}